<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ParkShare</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/leaflet.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="@{/css/Control.Geocoder.css}" />
    <script src="https://kit.fontawesome.com/f97165b3d6.js" crossorigin="anonymous"></script>
</head>
<body class="text-white" style="height: 100vh;">
<nav class="navbar navbar-expand-lg bg-darkblue" style="height: 10%; z-index: 1" id="navbar-items">
    <div>
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/logo/logo_tip2.png}" src="https://cdn.wallpapersafari.com/34/82/YRzXPk.jpeg" alt="ParkShare logo"
                 width="270"  class="d-inline-block align-text-top">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
<!--            <form th:action="@{/findParking}" method="post">-->
<!--                <div class="row g-3 align-items-center">-->
<!--                    <div class="col-auto">-->
<!--                        <label for="location" class="col-form-label">Find parking near destination: </label>-->
<!--                    </div>-->
<!--                    <div class="col-auto">-->
<!--                        <input type="text" id="location" class="form-control" aria-describedby="passwordHelpInline">-->
<!--                    </div>-->
<!--                    <div class="col-auto">-->
<!--                        <button type="submit" class="btn btn-primary" >Search!</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
            <a class="nav-link active font-navbar" aria-current="page" href="#">Home</a>
            <a class="nav-link font-navbar" th:href="@{/findParking}">Find Parking</a>
            <a class="nav-link font-navbar" th:href="@{/about}">About us</a>
            <a class="nav-link font-navbar" th:href="@{/profile}">
                <img src="https://cdn.wallpapersafari.com/34/82/YRzXPk.jpeg"
                     th:src="@{/images/icons/person_icon.png}" alt="user" width="30" height="30">
            </a>
            <a th:if="${loggedIn}" class="nav-link font-navbar" th:href="@{/logout}">
                <img src="https://cdn.wallpapersafari.com/34/82/YRzXPk.jpeg"
                     th:src="@{/images/icons/logout_icon.png}" alt="user" width="30" height="30">
            </a>
        </div>
    </div>
</nav>
<div id="map" class="position-absolute" style="z-index: 0;width: 100vw; height: 100vh;">
</div>
<div class="position-absolute bottom-0 start-0 container-sm w-50" style="z-index: 999">
    <div th:each="info: ${information}">
        <div th:inline="text" class="alert alert-info alert-dismissible fade show" role="alert">
            <strong th:text="${(info != null) ? info.msg : 'No error!'}">Not logged in!</strong>
            [[(${info} != null) ? ${info.desc} : ' Everything is fine :)']]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div th:each="error: ${errors}">
        <div th:inline="text" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong th:text="${(error != null) ? error.msg : 'No error!'}">Not logged in!</strong>
            [[(${error} != null) ? ${error.desc} : ' Everything is fine :)']]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script th:src="@{/js/leaflet.js}"></script>
<script src="@{/js/Control.Geocoder.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    let userLocation = L.latLng([45.801, 15.971]);
    let geoError = false;
    var type = 'driving';
    var duration = 1;
    var loggedIn = /*[[${loggedIn}]]*/ false;

    function getPosition(position) {
        userLocation.lat = position.coords.latitude;
        userLocation.lng = position.coords.longitude;
    }

    function noPosition (error) {
        userLocation.lat = 45.801;
        userLocation.lng = 15.971;
        geoError = true;
    }

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(getPosition, noPosition);
    } else {
        geoError = true;
        userLocation.lat = 45.801;
        userLocation.lng = 15.971;
    }

    console.log('test');

    var map = L.map('map', {zoomControl:false}).setView([userLocation.lat, userLocation.lng], 15);
    new L.Control.Zoom({position: 'bottomright'}).addTo(map);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoibWJhcmJpciIsImEiOiJja3hkeHB3aXIwd21tMzBtbXp1azVvd2xnIn0.wyoaoW90XWXlBgLK1NJaTA'
    }).addTo(map);

    function car(){
        type = 'driving';
    }
    function bike(){
        type = 'bike';
    }
    function durationChange(){
        duration = document.getElementById("duration").value;
    }
    var command = L.control({position: 'bottomleft'});

    command.onAdd = function (map) {
        var div = L.DomUtil.create('div', 'command');

        div.innerHTML = `
<div class="container text-black row bg-white border-3 rounded" style="margin-left: 3px; padding-top: 10px;">
    <div class="col justify-content-center align-content-center">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked onchange="car()">
            <label class="form-check-label fas fa-car" for="flexRadioDefault1">
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" onchange="bike()">
            <label class="form-check-label fas fa-bicycle" for="flexRadioDefault2">
            </label>
        </div>
    </div>
    <div class="col">
        <div class="form-outline">
            <input type="number" id="duration" min="1" max="24" step="1" class="form-control" onchange="durationChange()"/>
            <label class="form-label" for="duration"> hours</label>
        </div>
    </div>
</div>`;
        return div;
    };

    command.addTo(map);
    var geocoder = L.Control.geocoder({position: 'bottomleft',
        defaultMarkGeocode: false})
        .on('markgeocode', function (e) {
            var latLong = e.geocode.center;
            window.location = window.location.origin + '/findParking/search?x1=' + latLong.lng + '&y1='+latLong.lat +
            '&x2=' + userLocation.lng + '&y2=' + userLocation.lat + '&error=' + geoError + '&type=' + 'driving' + '&duration=' + '1';
        })
        .addTo(map);

    var allParkings = /*[[${allParkings}]]*/ [];
    var allParkingSpots = /*[[${allParkingSpots}]]*/ [];

    var parkingSpots = {};

    for (const parkingSpot of allParkingSpots) {
        let parking = null;
        for (const prk of allParkings) {
            if (prk.id === parkingSpot.id.userid) parking = prk;
        }
        let spot = L.polygon([ [parkingSpot.point1y, parkingSpot.point1x], [parkingSpot.point2y, parkingSpot.point2x],
            [parkingSpot.point3y, parkingSpot.point3x], [parkingSpot.point4y, parkingSpot.point4x]]).addTo(map);
        parkingSpots['{' + parkingSpot.id.userid + ', ' + parkingSpot.id.parkingspotnumber + '}'] = spot;
    }


    let searchResult = /*[[${searchResult}]]*/ false;
    if(!searchResult) map.locate({'setView':true});

    /*]]>*/
</script>

<script th:if="${searchResult != null && searchResult}" th:inline="javascript">
    /*<![CDATA[*/

    let noRoute = /*[[${noRoute}]]*/ true;
    let destParking = /*[[${nearestParking}]]*/ null;
    let route = /*[[${route}]]*/ [[]];
    for (const coord of route) {
        coord.reverse();
    }

    let line = L.polyline(route).addTo(map);

    map.setView([destParking.entrancepointy, destParking.entrancepointx], 18);
    /*]]>*/
</script>

</body>
</html>